<tr class="customization_value type fields" id="<%= dom_id(f.object) %>">
  <td><%= f.text_field :name, :readonly => true, :disabled => true %></td>
  <td><%= f.text_field :presentation %></td>
  <td><%= f.text_area :description, {:style=>'height: auto;', :rows => 3, :cols => 25} %></td>
  <td class="actions"><%= link_to_remove_nested_fields t("remove"), f, :no_text => true, :nest => "product_customization_type" %></td>
</tr>
