<table class="index">
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("presentation") %></th>
    <th><%= t("description") %></th>
    <th>&nbsp;</th>
  </tr>
  <% @product_customization_types.each do |customization_type| %>
    <tr>
      <td><%= customization_type.name %></td>
      <td><%= customization_type.presentation %></td>
      <td><%= customization_type.description %></td>
      <td class="actions">
      <%= link_to_with_icon 'delete',  t("remove"), remove_admin_product_product_customization_type_url(@product, customization_type) %>
      </td>
    </tr>
  <% end %>
  <% if @product_customization_types.empty? %>
   <tr><td colspan="3"><%= t(:none) %></td></tr>
  <% end %>
</table>

<div id="customization-types"></div>
  <span id="new_ct_link">
    <%= link_to icon('add') + ' ' + t("add_product_customization_type"), available_admin_product_product_customization_types_url(@product), :remote => :true, :class => 'iconlink' %>
  </span>
