<%= content_for :head do %>
  <%= javascript_include_tag 'jquery.validate.min' %>
  <%= javascript_tag do %>
    $(function () {
      $('form').validate();
    });
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<h1><%= t("editing_product_customization_type") %></h1>
<%= render 'spree/shared/error_messages', :target => @product_customization_type %>
<%= form_for(@product_customization_type, :url => admin_product_customization_type_url(@product_customization_type), :html => { :method => :put }) do |f| %>
<fieldset>
  <legend><%= t("editing_product_customization_type") %></legend>
  <%= render :partial => "form", :locals => { :f => f } %>
  <h3><%= t("customizable_product_options") %></h3>
  <table class="index">
    <thead>
      <tr>
        <th><%= t("name") %></th>
        <th><%= t("presentation") %></th>
        <th><%= t("description") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="customizable_product_options">
      <tr id="none">
        <td colspan="3"><%= @product_customization_type.customizable_product_options.empty? ? t("none") : "" %></td>
      </tr>
      <%= f.fields_for :customizable_product_options do |customizable_form| %>
        <%= render "customizable_product_option_fields", :f => customizable_form %>
      <% end %>
    </tbody>
  </table>
  <%# link_to_add_fields t("add_customizable_product_option"), "tbody#customizable_product_options" %>

<!-- b/c of r_c removal -->
<p class="form-buttons">
  <%= button t("update") %>
  <%= t("or") %> <%= link_to t("cancel"), admin_product_customization_types_url %>
</p>

<!--   < %= # render :partial => 'admin/shared/edit_resource_links' % > -->
</fieldset>
<% end %>
