<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_customization_type_link">
      <% # don't know why remote=> true is present on the option_type version i copied...ok, i know now....should show up above the list below...TODO%>
      <%= button_link_to t("new_product_customization_type"), new_admin_product_customization_type_url, {:icon => 'add', :id => 'new_product_customization_type_link'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("product_customization_types") %></h1>

<div id="new_product_customization_type"></div>

<table class="index sortable" id='listing_product_customization_types'>
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("presentation") %></th>
    <th><%= t("description") %></th>
    <th></th>
  </tr>
  <% @product_customization_types.each do |product_customization_type| %>
    <tr id="<%= dom_id product_customization_type %>">
      <td><span class="handle"></span> <%= product_customization_type.name %></td>
      <td class='presentation'><%= product_customization_type.presentation %></td>
      <td class='description'><%= product_customization_type.description %></td>
      <td class="actions">
        <%= link_to_edit(product_customization_type, :class => 'admin_edit_product_customization_type') %>
        &nbsp;
        <%= link_to_delete(product_customization_type) %>
      </td>
    </tr>
  <% end %>
</table>
