<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for(:page_title, Spree.t("product_customization_types")) %>
<% content_for(:page_actions) do %>
  <li id="new_product_customization_type_link">
    <%= button_link_to Spree.t("new_product_customization_type"), new_admin_product_customization_type_url, {:icon => 'add', :id => 'new_product_customization_type_link'} %>
  </li>
<% end %>

<table class="index sortable" id='listing_product_customization_types'>
  <tr>
    <th><%= Spree.t("name") %></th>
    <th><%= Spree.t("presentation") %></th>
    <th><%= Spree.t("description") %></th>
    <th></th>
  </tr>
  <% @product_customization_types.each do |product_customization_type| %>
    <tr id="<%= dom_id product_customization_type %>">
      <td><span class="handle"></span> <%= product_customization_type.name %></td>
      <td class='presentation'><%= product_customization_type.presentation %></td>
      <td class='description'><%= product_customization_type.description %></td>
      <td class="actions">
        <%= link_to_edit(product_customization_type, :class => 'admin_edit_product_customization_type') %>
        &nbsp;
        <%= link_to_delete(product_customization_type) %>
      </td>
    </tr>
  <% end %>
</table>
