<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render 'spree/shared/error_messages', :target => @product_customization_type%>

<%= form_for(@product_customization_type, :url => admin_product_customization_types_url) do |f| %>
  <fieldset>
    <legend><%= t("new_product_customization_type") %></legend>
    <%= render :partial => "form", :locals => { :f => f } %>
<!--     < %= render :partial => 'spree/admin/shared/new_resource_links' % >

put this back in once r_c is removed
-->


<p class="form-buttons">
  <%= button t("actions.create") %>
  <%= t("or") %> <%= link_to t("actions.cancel"), admin_product_customization_types_url %>
</p>


  </fieldset>
<% end %>
