<%= render :partial => 'admin/shared/product_sub_menu' %>
<h1><%= t("editing_option_type") %> "<%= @ad_hoc_option_type.option_type.presentation %>"</h1>
<%= render 'shared/error_messages', :target => @ad_hoc_option_type %>
<%= form_for(@ad_hoc_option_type, :url => object_url, :html => { :method => :put }) do |f| %>
<fieldset>
  <legend><%= t("editing_option_type") %></legend>
  <%= render :partial => "form", :locals => { :f => f } %>
  <h3><%= t("option_values") %></h3>
  <table class="index">
    <thead>
      <tr>
        <th><%= t("name") %></th>
        <th><%= t("display") %></th>
        <th><%= t("price_modifier") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="option_values">
      <tr id="none">
        <td colspan="4"><%= @ad_hoc_option_type.option_values.empty? ? t("none") : "" %></td>
      </tr>
      <%= f.fields_for :ad_hoc_option_values do |option_value_form| %>
        <%= render "option_value_fields", :f => option_value_form %>
      <% end %>
    </tbody>
  </table>
<!--  <span id='new_add_option_value'>
    < % = link_to_add_fields t("add_option_value"), "tbody#option_values", f, :option_values % >
  </span>
-->
    <p class="form-buttons">
      <%= button t("update") %>
      <%= t("or") %> <%= link_to t("cancel"), selected_admin_product_ad_hoc_option_types_url(@ad_hoc_option_type.product) %>
    </p>
</fieldset>
<% end %>
