<%# in rails 3.1, this can go away since I'll be able to use deface to hook in vs. pasting the whole file%>

<%= form_for :line_item, :url => admin_order_line_items_url(@order), :html => {:id => 'admin_add_line_item_form', :multipart => true} do |f| %>
<div id="add-line-item">
  <fieldset>
    <legend><%= t('add_product') %></legend>
    <div style="float:left;width:65%;margin-right:5%;">
      <%= label_tag :add_product_name, t("name_or_sku") %>
      <%= text_field_tag :add_product_name, nil, :class => 'fullwidth title'  %>
      <%= hidden_field_tag :add_variant_id %>
    </div>

    <div style="float:left;width:10%;margin-right:5%;">
      <%= label_tag :add_quantity, t("qty") %>
      <%= text_field_tag :add_quantity,  1 , :class => 'fullwidth title'  %>
    </div>
    <div style="float: left; width: 15%;">
      <p class="form-buttons" data-hook="admin_order_form_buttons">
        <%= button t('add') %>
      </p>
    </div>

    <div id="configurations" style="float: left; width:55%;margin-right:5%; margin-top: 30px; margin-left: 10%;"></div>
  </fieldset>
</div>
<% end %>
<%= content_for :head do %>
  <%= javascript_include_tag '/admin/javascripts/orders/flexi_configuration.js' %>
<% end %>
