<table class='index'>
  <colgroup>
    <col style="width: 10%">
    <col style="width: 30%">
    <col style="width: 40%">
    <col style="width: 20%">
  </colgroup>
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("presentation") %></th>
      <th><%= t("position_within_product") %></th>
      <th><%= t("required") %><span class="required">*</span></th>
    </tr>
  </thead>
  <tbody id="option_values">
    <tr>
      <td>
        <%= f.object.option_type.name%>
      </td>
      <td>
        <%= f.object.option_type.presentation%>
      </td>
      <td>
        <%= f.number_field :position %>
        <%= f.error_message_on :position %>
      </td>
      <td>
        <center>
          <%= f.check_box :is_required %>
          <%= f.error_message_on :is_required %>
        </center>
      </td>
    </tr>
  </tbody>
</table>
