<tr class="option_value fields" id="<%= spree_dom_id(f.object) %>">
  <td class='name'><span class="handle"></span><span> <%= f.object.option_value.name %> </span></td>
  <td class='presentation'><span>  <%= f.object.option_value.presentation %> </span></td>
  <td class='price_modifier'><%= f.text_field :price_modifier %></td>
  <td class='cost_price_modifier'><%= f.text_field :cost_price_modifier %></td>
  <td><%= f.check_box :selected %></td>
  <td class="actions"><%= link_to_remove_nested_fields t("remove"), f, :no_text => true, :nest => "ad_hoc_option_type" %></td>
</tr>
