<tr class="option_value fields" id="<%= spree_dom_id(f.object) %>">
  <td class='name'><span class="handle"></span><span> <%= f.object.option_value.name %> </span></td>
  <td class='presentation'><span>  <%= f.object.option_value.presentation %> </span></td>
  <td class='price_modifier'><%= f.text_field :price_modifier %></td>
  <td><center><%= f.check_box :selected %><center></td>
  <td class="actions"><%= link_to_delete f.object, :no_text => true %></td>
</tr>
