<h3>Add Option Types</h3>
<p>These can be used to dynamically create ad hoc variants</p>
<table class="index">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("presentation") %></th>
      <th><%= t("required") %></th>
      <th class='actions'></th>
    </tr>
  </thead>
  <tbody>
    <% @option_types.each do |ahot| %>

      <% if ahot.option_type.id.to_s == @last_selected_option_type_id %>
        <% # do we need to do the 'first time' forced-edit/save of new option values? %>

        <%= render :partial => "form", :locals => { :f => f } %>
        <%= render :partial => "selected_edit", :locals => { :ahot => ahot } %>
      <% else %>
        <tr>
          <td><%= ahot.option_type.name %></td>
          <td><%= ahot.option_type.presentation %></td>
          <td><%= ahot.is_required %></td>
          <td class="actions">
            <%= link_to_edit ahot, no_text: true %>
            <%= link_to_delete ahot, no_text: true %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <% if @option_types.empty? %>
  <tr><td colspan="3"><%= t(:none) %></td></tr>
  <% end %>
</table>

<div id="option-types"></div>
<span id="new_opt_link">
  <!-- THIS pulls up the 'available' list below -->
  <%= button_link_to t("add_option_type"), available_ad_hoc_admin_product_option_types_url(@product), :remote => :true, :class => 'iconlink', :icon => 'icon-plus' %>
</span>
