<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<h1><%= t("editing_option_type") %> "<%= @ad_hoc_option_type.option_type.presentation %>"</h1>
<%= render 'spree/shared/error_messages', :target => @ad_hoc_option_type %>
<%= form_for(@ad_hoc_option_type, :url => object_url, :html => { :method => :put }) do |f| %>
<fieldset>
  <legend><%= t("editing_option_type") %></legend>
  <%= render :partial => "form", :locals => { :f => f } %>
  <h3><%= t("option_values") %></h3>
  <table class="index sortable" data-sortable-link="<%= update_positions_admin_ad_hoc_option_type_ad_hoc_option_values_url(@ad_hoc_option_type) %>">
    <thead>
      <tr>
        <th><%= t("name") %></th>
        <th><%= t("display") %></th>
        <th><%= t("price_modifier") %></th>
        <th><%= t("cost_price_modifier") %></th>
        <th><%= t("selected_by_default") %></th>
        <th class='actions'></th>
      </tr>
    </thead>
    <tbody id="option_values">
      <% if @ad_hoc_option_type.option_values.empty? %>
        <tr>
          <td colspan="4"><%= t("none") %></td>
        </tr>
      <% else %>
        <%= f.fields_for :ad_hoc_option_values do |option_value_form| %>
          <%= render "option_value_fields", :f => option_value_form %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <!-- THIS pulls up the 'available' list below -->
  <% unless @available_option_values.blank? %>
    <div id="available_option-values">
      <h4>Available Option Values</h4>
      <% @available_option_values.each do |option_value| %>
        <br/>
        <%= link_to (icon('add') + ' ' + option_value.name + ':' + option_value.presentation), add_option_value_admin_product_ad_hoc_option_type_url(@ad_hoc_option_type.product, @ad_hoc_option_type, option_value_id: option_value.id), :class => 'iconlink' %>
      <% end %>
    </div>
  <% end %>

  <div class="form-buttons filter-actions actions">
    <%= button t("update"), 'icon-refresh' %>
    <span class='or'><%= t("or") %></span>
    <%= button_link_to t("cancel"), selected_admin_product_ad_hoc_option_types_url(@ad_hoc_option_type.product), :icon => 'icon-remove' %>
  </div>
</fieldset>
<% end %>
