<% if @product.product_customization_types && !@product.product_customization_types.empty? %>

  <div id="product-customizations">

    <%# for finding optional partials %>
    <% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>

    <h6 class="product-section-title"><%= t(:customizations) %></h6>
    <% @product.product_customization_types.each do |product_customization_type| %>

      <% param_prefix = "product_customizations[#{product_customization_type.id}]" %>

      <%# render a custom partial based on the customization name? %>

      <% partial_name = "spree/products/customizations/customization_type/#{product_customization_type.name}" %>
      <% if lookup.exists?(partial_name,nil,true) %>
        <%= render :partial => partial_name, :locals => {:product_customization_type => product_customization_type, :param_prefix => param_prefix} %>
      <% else %>

        <%# render a custom partial based on the calculator name? %>
        <% partial_name = "spree/products/customizations/calculator_type/#{calculator_name(product_customization_type)}" %>

        <% if lookup.exists?(partial_name,nil,true) %>
          <%= render :partial => partial_name, :locals => {:product_customization_type=>product_customization_type, :param_prefix => param_prefix} %>
        <% else %>

          <h6><%= product_customization_type.presentation %></h6>

	        <% if product_customization_type.description && !product_customization_type.description.empty? %>
	          <p><%=  product_customization_type.description %></p>
	        <% end %>
          
          <% param_prefix = "product_customizations[#{product_customization_type.id}]" %>
          <dl>
            <% product_customization_type.customizable_product_options.each do |option| %>
              <dt><%= option.presentation %></dt>
              <dd><%= text_field_tag "#{param_prefix}[#{option.id}]","",:style=>"float: left;", :class=>"customization" %></dd>
            <% end # options.each %>
          </dl>
        <% end %> <%# else %>
      <% end %> <%# else %>
    <% end %> <%# each customization type %>
  </div> <!-- product-customizations -->
<% end %>
