<% content_for :head do %>
  <%= javascript_tag do %>
    function submitForm(tfDomId, formUrl) {
      $('#price_modifier').val($('#' + tfDomId).val());
      $('#price_modifier_form').attr('action', formUrl);
      $('#price_modifier_form').submit();
    }
  <% end %>
<% end %>


<%= render :partial => 'admin/shared/product_sub_menu' %>
<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Option Types"} %>

<h3><%= @product_option_type.option_type.presentation %> </h3>
<div id="selected-option-values">
  <%= render 'selected' %>
</div>
