<div id="product-customizations">
  <% line_item.ad_hoc_variant_option_values.each do |pov| %>
    <%= pov.option_value.option_type.presentation %> = <%= pov.option_value.presentation %> (<%= pov.price_modifier %>) 
    <br/>
  <% end %>

  <% line_item.product_customizations.each do |customization| %>
    <p>
      <span style="text-decoration: bold;"><%=  customization.product_customization_type.name.humanize %></span>
      <% customization.customized_product_options.each do |option| %>
	<br/>

	<% partial = option.customizable_product_option.partial %>

    <!-- hate to use exception as flow control, b/c the 'rescue' is likelier to occur than the custom partial.
         I used a File.exists? but didn't want to use Rails.root (as this is an extension. Alternative?  cwd? -->
	<% begin %>
	  <%= render :partial => "orders/custom_fields/#{partial}", :locals=>{:option => option} %>
	<% rescue %>	
	  <%= option.customizable_product_option.presentation %> = <%= option.value %>
        <% end %>	

     <% end %>
    </p>
  <% end %>
</div> <!-- product-customizations -->
