<div class="yui-gb">
  <div class="yui-u first">

    <!-- each option type -->
    <% @product.options.each do |option| %>

    <h2><%= option.presentation %></h2>

    <h3>What price modifier strategy does this <%= option.presentation %> use?</h3>

    <%= f.fields_for(option) do |option_fields| %>
    <p><%= option_fields.label :price_modifier_type, t("price_modifier_type") %>:<br />
      <%= option_fields.select(:price_modifier_type, options_for_select([["none",t("none")],["single",t("single")],["multiple", t("multiple")]])  %>
      <!-- TODO?: options_from_collection_for_select(@price_modifier_types, 'id', 'name') -->
    </p>
    <% end %> <!-- fields for -->

    <table class="index">
    <tr>
    <th><%= t("option_values") %></th>
    <th><%= t("price") %></th>
    </tr>

    <!-- each option value -->
    <% option.option_type.option_values.each do |ov| %>

    <% option_fields.fields_for(ov) do |ov_fields| %>
       <tr id="<%= dom_id(ov) %>" %>
         <td><%= ov.presentation %></td>
	 <td><%= ov_fields.label :price_modifier, t("price_modifier") %>:<br />
	   <%= ov_fields.text_field :price_modifier %>
	 </td>
       </tr>
    <% end %>  <!-- ov fields_for -->
    <% end %>  <!-- each -->
    <% end %>  <!-- option fields_for -->
    <% end %>  <!-- each -->

  </table>
  </div>
</div>
