<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render 'spree/shared/error_messages', :target => @ad_hoc_variant_exclusion%>

<%= form_for(@ad_hoc_variant_exclusion, :url => admin_product_ad_hoc_variant_exclusions_url(@product)) do |f| %>
  <fieldset>
    <legend><%= t("new_ad_hoc_variant_exclusion") %></legend>
    <%= render :partial => "form", :locals => { :f => f } %>

    <!--     < %= render :partial => 'admin/shared/new_resource_links' % >
	 put this back in once r_c is removed
    -->

    <p class="form-buttons">
      <%= button t("actions.create") %>
      <%= t("or") %> <%= link_to t("actions.cancel"), admin_product_ad_hoc_variant_exclusions_url(@product) %>
    </p>
  </fieldset>
<% end %>
