<% product = @variant.product %>

<% if product.product_customization_types %>

  <div id="product-customizations">

    <%# for finding optional partials %>
    <% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>

    <%# for finding optional partials %>
    <% product.product_customization_types.each do |product_customization_type| %>

      <% param_prefix = "product_customizations[#{product_customization_type.id}]" %>

      <%# render a custom partial based on the customization name? %>

      <% partial_name = "/spree//shared/variant_configurations/customizations/calculator_type/#{product_customization_type.name}" %>
      <% if lookup.exists?(partial_name,nil,true) %>
        <%= render :partial => partial_name, :locals => {:product_customization_type => product_customization_type, :param_prefix => param_prefix} %>
      <% else %>

        <% param_prefix = "product_customizations[#{product_customization_type.id}]" %>

        <%= field_set_tag product_customization_type.presentation do %>

	        <% if product_customization_type.description && !product_customization_type.description.empty? %>
	          <p><%=  product_customization_type.description %></p>
	        <% end %>

          <% param_prefix = "product_customizations[#{product_customization_type.id}]" %>
          <ol style="list-style: none;">
            <% product_customization_type.customizable_product_options.each do |option| %>

              <li>
                <label style="width:300px;"><%= option.presentation %></label>
                <%= text_field_tag "#{param_prefix}[#{option.id}]","",:class=>"customization" %>
              </li>
            <% end # options.each %>
          </ol>
          <% end %> <%# field_set_tag %>
          <% end %> <%# else %>
          <% end %> <%# each customization type %>
  </div> <!-- product-customizations -->
<% end %>
