<dl class='customizations'>
  <%# TODO: group multi-select options (e.g. toppings) %>
  <% item.ad_hoc_option_values.each do |pov| %>
    <dt><%= pov.option_value.option_type.presentation %></dt>
    <dd><%= pov.option_value.presentation %></dd>
  <% end %>

  <% item.product_customizations.each do |customization| %>

    <% next if customization.customized_product_options.all? {|cpo| cpo.empty? } %>

    <dt><%= customization.product_customization_type.presentation %></dt>
    <dd>
          <% customization.customized_product_options.each do |option| %>

            <% next if option.empty? %>

	          <% partial = option.customizable_product_option.name %>
            <% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>

            <% if lookup.exists?("spree/orders/custom_fields/#{partial}",nil,true) %>

              <%= render :partial => "spree/orders/custom_fields/#{partial}", :locals=>{:option => option} %>

            <% else %>

              <% if option.customization_image? %>
                <%= image_tag(option.customization_image.thumb.url) %>
              <% else %>
                <span class='customized_option'><%= option.customizable_product_option.presentation %> = <%= option.value %></span>
              <% end %>

            <% end %>
          <% end %> <%# each option %>
    </dd>
    <% end %> <%# each customization %>
</dl>
