<% if @product.ad_hoc_option_types && !@product.ad_hoc_option_types.empty? %>
  <% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>

  <div id="ad_hoc_options" style="overflow: auto;">
    <%= "<h4>*#{t(:not_all_combinations_available)}</h4>".html_safe if !@product.ad_hoc_variant_exclusions.empty? %>

    <%= field_set_tag t(:select_variant_options) do %>
      <ol>
        <% @product.ad_hoc_option_types.each do |ahot| %>
          <li>
          <% ot=ahot.option_type %>
          <% class_str='ad-hoc-option-select' %>
          <% class_str += ' required' if ahot.is_required %>
          <% class_str += ' ad_hoc' if !@product.ad_hoc_variant_exclusions.empty? %>

          <% # render a custom partial based on the option type name? %>

          <% partial_name = "products/ad_hoc_options/#{ot.name}" %>
          <% if lookup.exists?(partial_name,nil,true) %>
            <%= render :partial => partial_name, :locals => {:option_type=>ahot} %>
          <% else %>
            <label><%= ot.presentation %></label>
            <%= select_tag "ad_hoc_option_values[#{ahot.id}]",
              options_for_select(ad_hoc_option_value_options(ahot.option_values)),
             :include_blank => 'None', :class => class_str %>
          <% end %>
          </li>
        <% end # each %>
      </ol>
    <% end # field set%>
  </div>
<% end %>
