<% content_for :head do %>
  <%= javascript_tag do %>
  var base_price=<%= @product.price %>;
  var price_modifier_map={};

  $().ready(function() {
    $('.on-demand-option-select').change(function() {
      // get _every_ option drop down and recalculate product price
      updatePrice();
    });

    updatePrice();

  });

  // stolen from http://stackoverflow.com/questions/18082/validate-numbers-in-javascript-isnumeric
  function isNumeric(input) {
    return (input - 0) == input && input.length > 0;
  }

  function updatePrice() {
    var cur_price=base_price;

    $('.on-demand-option-select').each(function() {
      // the :prompt=>'None' in the select tag yields an empty string, which I can't use in the price calcuation
      var val=$(this).val();

      if (isNumeric(val)) {
        cur_price+=price_modifier_map[val];
      }
    });

    $('.price').text('$' + cur_price.toFixed(2)); // TODO i8n
  }

  <% end %>
<% end %>

<%= javascript_tag do %>
  <%  @product.product_option_types.each do |pot| %>
    <% pot.option_value_configs.each do |ov_config| %>
      price_modifier_map[<%= ov_config.id %>]= <%= ov_config.price_modifier %>;
    <% end %>
  <% end %>
<% end %>

<% @product.product_option_types.each do |pot|
  ot=pot.option_type
%>     
    <div>
         <%= f.label ot.name %>
         <%= select_tag "product_option_types[#{pot.id}]", options_for_select(on_demand_option_value_options(pot.option_value_configs)), :include_blank => (pot.is_required ? false: 'None'), :class => 'on-demand-option-select' %>
    </div>	 
<% end %>
