<%= form_for([:admin, @option_type]) do |f| %>
<fieldset>
  <legend><%= t("configure_dynamic", :option_type => @option_type.presentation) %></legend>
  <%= f.label :option_pricing_strategy, 'Pricing Strategy' %>
  <%= f.select :option_pricing_strategy,options_from_collection_for_select(OptionType.option_pricing_strategies, :to_s, :description) %>
  <table class="index">
    <thead data-hook="option_header">
      <tr>
        <th><%= t("display") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="option_values">
      <tr id="none" data-hook="option_none">
        <td colspan="3"><%= @option_type.option_values.empty? ? t("none") : "" %></td>
      </tr>
      <% for option_value in @option_values %>
      <tr class="option_value fields" id="<%= dom_id(option_value) %>">
        <td class="presentation"><%= option_value.presentation %></td>
        <%# it makes no sense to have 'remove' functionality for 'global' dynamic option values %>
      </tr>
      <% end %>

    </tbody>
  </table>

  <p class="form-buttons" data-hook="buttons">
    <%= button t("update") %>
    <%= t("or") %> <%= link_to t("cancel"), admin_option_types_url %>
  </p>
</fieldset>
<% end %>

