<table class="index">
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("presentation") %></th>
    <% if @product.has_on_demand_variants? %>
      <th><%= t("price_modifier_type") %></th>
      <th><%= t("required") %></th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  <% @option_types.each do |option_type| %>
    <tr>
      <td><%= option_type.name %></td>
      <td><%= option_type.presentation %></td>
      <% product_option_type= @product.product_option_types.detect {|pot| pot.option_type_id==option_type.id} %>

      <% if @product.has_on_demand_variants? %>
        <td><%= product_option_type.price_modifier_type %></td>
        <td><%= check_box_tag :is_required, '1', product_option_type.is_required, :disabled => true %></td>
      <% end %>

      <td class="actions">
      <%= link_to_with_icon('edit', t("edit_option_values"), selected_admin_product_option_type_option_values_url (product_option_type)) %>
      <%= link_to_with_icon 'delete',  t("remove"), remove_admin_product_option_type_url(@product, option_type) %>
      </td>
    </tr>
  <% end %>
  <% if @option_types.empty? %>
   <tr><td colspan="3"><%= t(:none) %></td></tr>
  <% end %>
</table>

<div id="option-types"></div>
<% if @product.variants.empty? || @product.has_on_demand_variants? %>
  <span id="new_opt_link">
    <%= link_to icon('add') + ' ' + t("add_option_type"), available_admin_product_option_types_url(@product), :remote => :true, :class => 'iconlink' %>
  </span>
<% end %>
